:root {
  --main-text: #434455;
  --logo-color: #4d5ae5;
  --light: #f4f4fd;
  --title-color: #2e2f42;
  --hover-color: #404bbf;
  --white: #ffffff;
  --footer-color-text: #e7e9fc;
  --footer-icons: #31d0aa;
  --customers-color: #8e8f99;
  --modal-color: #FCFCFC;
  --accent: #E7E9FC;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.section {
  padding-bottom: 120px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
  margin: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*==============================HEADER==============================*/
.page-header {
  padding-top: 24px;
  border-bottom: 1px solid var(--footer-color-text);
}
.header-container {
  display: flex;
  background-color: var(--white-color);
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.header-logo {
  color: var(--title-color);
}
.footer-logo {
  color: var(--light);
}

/*==============================MENU==============================*/
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:focus,
.menu-link:hover {
  color: var(--hover-color);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: var(--hover-color);
  border-radius: 2px;
  margin-top: 24px;
  animation-name: current;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 0ms;
}
.current {
  color: var(--hover-color);
}
@keyframes current{
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
.portfolio,
.studio {
  color: var(--hover-color);
}

/*==============================CONTACTS==============================*/
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
}
.contact-link {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:focus,
.contact-link:hover {
  color: var(--hover-color);
}

/*==============================HERO==============================*/
.hero-section {
  text-align: center;
  background-color: var(--title-color);
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);

  margin-bottom: 48px;
  /*
    margin-right: auto;
  margin-left: auto;
  width: 496px;
  */
}
.btn {
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:focus,
.btn:hover {
  background-color: var(--hover-color);
  color: var(--white);
}
/*==============================characteristic==============================*/
.characteristic-section {
  padding-top: 120px;
}
.characteristic-list {
  display: flex;
}
.characteristic-item {
  flex-basis: calc((100% - 72px) / 4);
}
.characteristic-item:not(:last-child) {
  margin-right: 24px;
}
.characteristic-icons{
  background-color: var(--light);
  border-radius: 4px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.min-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);

  margin-bottom: 8px;
}
.text-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*==============================what are we doing==============================*/
.section-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 24px;
}
/*==============================TEAM==============================*/
.team-section {
  background: var(--light);
  padding-top: 120px;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 24px;
}
.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list-container {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 8px;
}
.social-list{
  justify-content: center;
  display: flex;
  gap: 24px;
}
.social-link{
  width: 40px;
  height: 40px;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover-color);
}
/*==============================customers==============================*/
.customers-section{
  padding-top: 120px;
}
.customers-list {
  display: flex;
}
.customers-item {
  width: calc((100%-120px) / 6);  
}
.customers-item:not(:last-child) {
  margin-right: 24px;
}

.customers-link {
  height: 88px;
  border: 1px solid var(--customers-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
.customers-icon{
  fill: var(--customers-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--hover-color);
}
/*==============================FOOTER==============================*/
.footer {
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
}
.footer-main {
  max-width: 264px;
  margin-right: 120px;
}
.footer-text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color-text);
}
.footer-social{
  margin-right: 80px;
}
.footer-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-link {
  width: 40px;
  height: 40px;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--footer-icons);
}
.footer-icons-list {
  display: flex;
  gap: 16px;
}

.footer-subscribe-form{
  display: flex;
}
.footer-subscribe-input{
  width: 264px;
  height: 40px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  margin-right: 24px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-input::placeholder{
  padding: 8px 0 ;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--white);
}
.footer-form-submit{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  min-width: 165px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--logo-color);
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-submit:focus,
.footer-form-submit:hover {
  background-color: var(--hover-color);
  color: var(--white);
}

/*==============================PORTFOILIO==============================*/
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-portfolio {
  padding: 12px 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--logo-color);
  background-color: var(--light);
  border-radius: 4px;
  border: 1px solid var(--footer-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:focus,
.btn-portfolio:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-card-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
}
.portfolio-foto-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-foto-list-item {
  background: var(--white);
  width: calc((100% - 48px) / 3);
}
.portfolio-card-description {
  padding: 32px 0 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.overlay{
  padding: 40px 32px 0 32px ;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: var(--light);
  background-color: var(--logo-color);

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay{
  position: relative;
  overflow: hidden;
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay{
  transform: translate(0, 0);
}
/*==============================MODAL==============================*/
.backdrop{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.modal-close-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}
.modal-close-btn-icon{
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
  fill: var(--white);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  text-align: center;
  letter-spacing: 0.02em;
  /*
  color: var(--title-color);
  */
  margin-bottom: 16px;
}
.modal-form-field{
  margin-bottom: 8px;
}
.modal-form-input-desc{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
  display: block;
  margin-bottom: 4px;
}
.modal-icon{
  position: relative;
}
.modal-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--title-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
  outline: none;
  border-color: var(--logo-color);
}
.modal-form-input-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon{
  fill: var(--logo-color)
}
.modal-form-comment{
  margin-bottom: 16px;
}
.modal-form-massage{
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-form-massage:focus{
  outline: none;
  border-color: var(--logo-color);
}
.modal-form-massage::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-checkbox{
  margin-bottom: 24px;
}
.modal-form-check-desc{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
  
}
.modal-form-check-desc::before{
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  background-image: url(../images/icons/yes.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: var(--hover-color);
}
.modal-privacy-href{
  color: var(--logo-color);
}
.modal-form-submit{
  align-self: center;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:focus,
.modal-form-submit:hover {
  background-color: var(--hover-color);
  color: var(--white);
}




